<div class="jumbotron">
    <h1>Crowd share - Web Client</h1>
    <p>The Telerik academy Exam - JS Applications</p>
    <p><a class="btn btn-primary btn-lg" href="http://telerikacademy.com/Courses/Courses/Details/254" role="button" target=_blank>Learn more</a></p>
</div>