<div class="container">
	<h3>Login/Register page</h3>
	<form>
		<div class="form-group">
			<label for="exampleInputEmail1">Enter Username:</label>
			<input type="text" class="form-control" id="tb-user" placeholder="Username" value="raketa">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Enter Password:</label>
			<input type="password" class="form-control" id="tb-pass" placeholder="Password" value="raketa">
		</div>
		<button id="btn-log" type="submit" class="btn btn-primary">Login</button>
		<button id="btn-reg" type="submit" class="btn btn-primary">Register</button>
	</form>	
</div>