<fieldset>
	<legend>Add new post</legend>
	<div class="form-group">
	        <input type="text" class="form-control" id="tb-post-title" placeholder="Post Title" value="Title: ">
	</div>
	<div class="form-group">    
	    <textarea class="form-control" rows="8" id="tb-post-body" placeholder="Post body content" value="Post: "></textarea>
	</div>
	<button id="btn-post" type="submit" class="btn btn-primary">Post</button>
</fieldset>

